@import 'variables';
//
// Blank sass file to be created soon!
//

.image-main img {
  width: 100%;
  border-radius: 5px;
}

.share-buttons {
  padding-top: 1em;
  border-top: 1px solid #ddd; }
  .share-buttons ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .share-buttons ul li {
      display: inline-block;
      margin-right: 0.5em; }
      .share-buttons ul li span {
        display: none; }
        @media only screen and (min-width: 600px) {
          .share-buttons ul li span {
            display: inline;
            margin: 0.5em; } }

.twitter {
  background-color: #77bcf1;
  color: #fff;
  border-color: #77bcf1; }
  .twitter:visited {
    color: #fff;
    border-color: #77bcf1; }
  .twitter:hover {
    background-color: #fff;
    color: #77bcf1;
    border-color: #77bcf1; }

.facebook {
  background-color: #627aac;
  color: #fff;
  border-color: #627aac; }
  .facebook:visited {
    color: #fff;
    border-color: #627aac; }
  .facebook:hover {
    background-color: #fff;
    color: #627aac;
    border-color: #627aac; }

.google-plus {
  background-color: #e36f60;
  color: #fff;
  border-color: #e36f60; }
  .google-plus:visited {
    color: #fff;
    border-color: #e36f60; }
  .google-plus:hover {
    background-color: #fff;
    color: #e36f60;
    border-color: #e36f60; }
