@import 'variables';
//
// Blank sass file to be created soon!
//

.profile-area {
  text-align: center;
}

#user-profile-image {
  margin-bottom: 10px;
}

.name {
  font-weight: bold;
  font-size: 120%;
}
